## Copyright (c) Huawei Technologies Co., Ltd. 2026. All rights reserved.
 # KubeOS is licensed under the Mulan PSL v2.
 # You can use this software according to the terms and conditions of the Mulan PSL v2.
 # You may obtain a copy of Mulan PSL v2 at:
 #     http://license.coscl.org.cn/MulanPSL2
 # THIS SOFTWARE IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO NON-INFRINGEMENT, MERCHANTABILITY OR FIT FOR A PARTICULAR
 # PURPOSE.
## See the Mulan PSL v2 for more details.

[Unit]
Description=PERSIST Dir (/persist)
DefaultDependencies=no
Conflicts=umount.target
After=local-fs.target
After=sysroot.mount
Before=initrd-switch-root.service
Before=initrd-cleanup.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/mount -t ext4 /dev/disk/by-label/PERSIST /sysroot/persist
ExecStart=/bin/mount -t overlay overlay -o upperdir=/sysroot/persist/etc,lowerdir=/sysroot/etc,workdir=/sysroot/persist/etcwork /sysroot/etc

[Install]
WantedBy=local-fs.target
