
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.5.0
  creationTimestamp: null
  name: os.upgrade.openeuler.org
spec:
  group: upgrade.openeuler.org
  names:
    kind: OS
    listKind: OSList
    plural: os
    singular: os
  scope: Namespaced
  versions:
  - name: v1alpha1
    additionalPrinterColumns:
    - name: OS VERSION
      jsonPath: .spec.osversion
      type: string
      description: The version of OS
    - name: SYSCONFIG VERSION
      type: string
      jsonPath: .spec.sysconfigs.version
      description: The version of sysconfig
    - name: UPGRADECONFIG VERSION
      type: string
      jsonPath: .spec.upgradeconfigs.version
      description: The version of upgradeconfig
    schema:
      openAPIV3Schema:
        description: OS is a specification for OS in the cluster
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: OSSpec defines the desired state of OS
            properties:
              cacert:
                type: string
              checksum:
                type: string
              clientcert:
                type: string
              clientkey:
                type: string
              containerimage:
                type: string
              evictpodforce:
                type: boolean
              flagSafe:
                type: boolean
              imagetype:
                type: string
              imageurl:
                type: string
              maxunavailable:
                type: integer
              mtls:
                type: boolean
              opstype:
                type: string
              osversion:
                type: string
              sysconfigs:
                description: SysConfigs defines all configurations expected by the user
                properties:
                  configs:
                    items:
                      description: SysConfig defines a type of configurations expected by the user
                      properties:
                        configpath:
                          type: string
                        contents:
                          items:
                            description: Content defines the key and value of configuration
                            properties:
                              key:
                                type: string
                              operation:
                                type: string
                              value:
                                type: string
                            type: object
                          type: array
                        model:
                          type: string
                      type: object
                    type: array
                  version:
                    type: string
                type: object
              upgradeconfigs:
                description: SysConfigs defines all configurations expected by the user
                properties:
                  configs:
                    items:
                      description: SysConfig defines a type of configurations expected by the user
                      properties:
                        configpath:
                          type: string
                        contents:
                          items:
                            description: Content defines the key and value of configuration
                            properties:
                              key:
                                type: string
                              operation:
                                type: string
                              value:
                                type: string
                            type: object
                          type: array
                        model:
                          type: string
                      type: object
                    type: array
                  version:
                    type: string
                type: object
            required:
            - checksum
            - containerimage
            - evictpodforce
            - flagSafe
            - imagetype
            - imageurl
            - maxunavailable
            - mtls
            - opstype
            - osversion
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
